.dl-table {
    a {
        padding-bottom: 0.4rem;
    }
    .btn {
        margin: 1.5rem 0;
    }
}

del {
    text-decoration: blink;
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.7em;
    background-color: #ffe123a6;
}

@media screen and (min-width: 95em) {
    .post-nav-list {
        width: 300px;
        padding: 15px;
        position: fixed;
        top: 60px;
        right: 60px;
        background-color: rgba(0, 0, 0, .1);
        box-shadow: 6px 6px 21px -10px;
    }
    .post-nav-list > a > * {
        color:black;
        padding: 3px 0px;
        font-size: 15px;
        margin: 0px;
    }
    .post-nav-list > a > *:hover {
        color:grey;
    }
    
    .post-nav-list h2 {
            margin-left: 10px;
    }
    .post-nav-list h3 {
            margin-left: 20px;
    }
    .post-nav-list h4 {
            margin-left: 30px;
    }
    .post-nav-list h5 {
            margin-left: 40px;
    }
    .post-nav-list h6 {
            margin-left: 50px;
    }
}

@media (max-width: 95em) {
    .post-nav-list, .post-nav-list * {
        display: none;
    }
}